.filter-container {
  flex: 0.2;
  width: 20%;
  margin-top: 2rem;
  height: calc(100vh - 80px);
  padding: 2rem;
  color: var(--gray-300);
  border-right: 1px solid var(--gray-50);
  font-family: var(--oswald-font);
  letter-spacing: 0.1em;
  position: fixed;
  z-index: 999;
  overflow-y: auto;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filter {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  overflow: auto;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--gray-50);
  padding-bottom: 1rem;
}

.filter-header h2 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter-header button {
  background-color: transparent;
  padding: 0.625rem;
  cursor: pointer;
  font-weight: 700;
  color: var(--gray-50);
  border: 1px solid var(--gray-400);
}

.filter-sort,
.filter-categories,
.filter-other {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-bottom: 1px solid var(--gray-50);
  padding-bottom: 1rem;
}

.filter-other {
  border-bottom: none;
}

.filter-sort div,
.filter-categories div,
.filter-other div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  margin: 0.2rem 0;
}

.star-rating {
  font-size: 1rem;
  color: var(--gold);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('../../public/contrast.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('../../public/contrast.png');
  cursor: pointer;
}
