.home {
  margin-top: 80px;
}

.banner {
  /* width: 100%; */
  background-image: url('https://cdn.shopify.com/s/files/1/1451/3260/t/7/assets/image_slider1.jpg?v=3096343081084966338');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 768px) {
  .banner {
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
  }
}

.text {
  color: white;
}
