@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --gray-900: #111827;
  --gray-1000: #040f2a;
  --gray-50: #f9fafb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gold: gold;
  --red: rgb(255, 55, 55);
  --blue-primary: #4285f4;
  --blue-secondary: #357ae8;
  --open-sans-font: 'Open Sans Condensed', sans-serif;
  --oswald-font: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--gray-50);
  text-transform: uppercase;
  /* all: unset; */
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
